<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!---- Tags Meta ---------->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../styles/404.css" />
    <title>Página não encontrada</title>
</head>
<body>
   <h1>Página não encontrada</h1>
</body>
</html>