<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!---- Tags Meta ---------->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <title>Cálculo de Recisão</title>
</head>
<body>

    <h1>Ola Mundo!</h1>

</body>
</html>