<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!---- Tags Meta ---------->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../styles/login.css" />
    <title>Login</title>
</head>
<body>
    <div class="form">
        <div class="forceColor"></div>
            <div class="topbar">
                <input type="email" name="email" class="input" id="email" placeholder="E-mail" required/>
                <input type="password" name="senha" class="input" id="password" placeholder="Password" required/>
            </div>
        <button class="submit" id="submit" onClick="login()">Login</button>
    </div>
</body>
</html>

<script src="../../scripts/script.js"></script>